<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    
    <!-- <script src="js/color-modes.js"></script> -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simple E commerce Application">
    <meta name="author" content="Adib Farhan, Rizwan Rabbi, Mir Md Inzamam">
    <!-- <meta name="generator" content="Hugo 0.118.2"> -->
    <title>Perfume Parlor</title>
    <link rel="icon" href="/icons/title-icon.png" type="image/png">

<link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/headers.css" rel="stylesheet">
    <link href="/css/product.css" rel="stylesheet">

    <style>
      
      .bi {
        vertical-align: -.125em;
        fill: currentColor;
        }

        .glamorous-text {
  color: #ff8c00; /* Set the desired color, e.g., orange */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(255, 140, 0, 0.7); /* Set the desired shadow properties */
}

    </style>

  
    
  </head>
  <body>

<main>
  <div class="content">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center ms-3 mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-1" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <!-- <span class="fs-3">ook Heaven</span> -->
        <span class="fs-3">Perfume Parlor</span>
      </a>

      <div class="mx-auto">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
      </div>


      <!-- Search Box with Bootstrap dropdown -->
        <div class="col-12 col-lg-auto ms-3 mb-lg-0 me-3 position-relative">
          <div class="dropdown">
              <input type="search" class="form-control form-control-dark dropdown-toggle" id="autocomplete_search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Search..." autocomplete="off">
              <div class="dropdown-menu text-center" id="search_result" style="width: 100%;"></div>
          </div>
        </div>



      <% if (currentUser === null) { %>
            <!-- Log in and Sign Up Button -->
            <div class="text-end">
              <a href="/users/login"> <button type="button" class="btn btn-outline-light me-2">Login</button></a>
              <a href="/users/signup"> <button type="button" class="btn btn-warning me-3">Sign-up</button></a>
            </div>
        <% } else { %>
              <!-- Profile Picture -->
              <div class="dropdown text-end me-3">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="data:image;base64, <%= currentUser.image %>" alt="img" width="40" height="40" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                  <!-- <li><a class="dropdown-item" href="#">New project...</a></li> -->
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/users/signout" method="POST">Sign out</a></li>
                </ul>
              </div>
          <% } %>

    </header>
  </div>

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">Perfume Parlor</h1>
      <h3 class="fw-normal text-muted mb-3">Vibrant Community of Perfume lovers</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="icon-link" href="#">
          Learn more
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
        <a class="icon-link" href="#">
          Buy
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  
  <div class="mt-5 text-center">
    <h2 class="mt-3">Featured Products</h2>
    <h5 class="mt-3">Check & Get Your Desired Product!</h5>
  </div>
  

<div class="container mt-5">
<div class="row row-cols-1 row-cols-md-3 g-4">

  <% products.forEach((product, index) => { %>
    <% product.Thumbnail = product.Thumbnail.toString('base64'); %>
    <div class="col" style="width: 300px; height: 600px; margin-right: 10px; margin-bottom: 10px;">
      <div class="card h-100">
        <img src="data:image;base64, <%= product.Thumbnail %>" class="card-img-top" alt="<%= product.Name %>">
        <div class="card-body text-center">
          
          <h5 class="card-title"><a href="products/<%= product.Name %>"> <%= product.Name %></a></h5>
          
          <!-- Fixed-size label for product info -->
          <p class="card-info">Brand: <%= product.Brand %></p>    
          
          <!-- Horizontal line after brand name -->
          <hr class="my-2">
          
          <!-- Volume selection using radio buttons and Price -->
          <div class="d-flex justify-content-between align-items-center">
            
            <!-- Radio buttons -->
            <div class="d-flex align-items-center">
              <div class="form-check form-check-inline">
                <input class="form-check-input volume-radio" type="radio" name="volume<%= index %>" id="volume3ml<%= index %>" value="3ml" checked data-price="200">
                <label class="form-check-label" for="volume3ml<%= index %>">3ml</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input volume-radio" type="radio" name="volume<%= index %>" id="volume5ml<%= index %>" value="5ml" data-price="500">
                <label class="form-check-label" for="volume5ml<%= index %>">5ml</label>
              </div>
              <!-- Add more volume options as needed -->
            </div>
            
            <!-- Price with glamorous style -->
            <p class="card-price glamorous-text mt-3">&#2547;<span class="priceNumber"><%= product.Price %></span></p>
          </div>
          
          <!-- Horizontal line after description label -->
          <hr class="my-2">
  
          <!-- Description -->
          <p class="card-text text-ellipsis"><%= product.description %></p>
          
        </div>
        <div class="card-footer d-flex justify-content-between">
          
          <!-- Add to Cart button on the left -->
          <button type="button" class="btn btn-primary">Add to Cart</button>
          
          <!-- Buy Now button on the right -->
          <button type="button" class="btn btn-success">Buy Now</button>
          
        </div>
      </div>
    </div>
  <% }); %>
  

</div>
</div>


  <!-- Side NavBar -->
  <!-- <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          Customers
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div> -->

  


  <!-- <div class="b-example-divider"></div> -->
</main>
<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/js/index/search.js"></script>
<script src="/js/index/productCard.js"></script>

    </body>
</html>
